@keyframes navHover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes navUnhover {
  0% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body > .mainPage {
  margin: -8px 0 0 -8px;
  width: 100vw;
  height: 100vh;
  background-color: #1c1d25;
  font-family: "League Spartan", sans-serif;
  overflow: hidden;
}
body > .mainPage .backgroundLogo {
  height: 330px;
  width: 330px;
  position: absolute;
  top: 217px;
  right: 50%;
  transform: translate(50%);
}
body > .mainPage > .rightDiv > .div3,
body > .mainPage .leftDiv > .div3 {
  width: 40px;
}
body > .mainPage > .rightDiv > div,
body > .mainPage .leftDiv > div {
  width: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11% 0 11%;
  height: 90px;
}
nav > span {
  display: none;
}
nav > span > div {
  height: 4px;
  background-color: #b0b2c3;
  margin-bottom: 5px;
}
nav > .logo {
  height: 80px;
  width: 80px;
}

nav > ul {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul > li {
  display: inline;
  color: #b0b2c3;
  font-size: 20px;
  cursor: pointer;
}
nav > ul > li > svg {
  width: 25px;
  fill: #b0b2c3;
  margin-bottom: 5px;
}
nav > ul > li::after, nav > ul > li::before {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-left: 1%;
  position: relative;
  animation-fill-mode: forwards;
  background-color: #f25757;
  animation: navUnhover .3s;
  animation-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}
nav > ul > li::before {
  background-color: #235aa6;
  bottom: -21px;
  animation: navUnhover .7s;
}
nav > ul > li:last-of-type::before {
  bottom: -32px;
}
nav > ul > li:hover::after, nav > ul > li:hover::before {
  animation: navHover .3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}

.content {
  position: absolute;
  top: 38%;
  z-index: 1;
  margin: 0 13% 0 13%;
  padding-left: 3%;
}
.content > h1 {
  font-size: 75px;
  color: white;
  margin: 0;
}
.content > p {
  font-size: 20px;
  color: white;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 45px;
}
.content > svg {
  width: 40px;
  fill: white;
  position: relative;
  top: -41px;
  left: 130px;
  transform: translate(0);
  transition: ease-in-out .5s;
}

.aboutMeButton {
  width: 140px;
  background: linear-gradient(270deg, #f06449, #ef3636);
  height: 45px;
  color: white;
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.aboutMeButton::after, .aboutMeButton::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: linear-gradient(270deg, #235aa6, #213777);
  height: 50px;
  width: 110px;
  left: -115px;
  top: 0;
  transform: translate(0);
  transition: ease-in-out .4s;
}
.aboutMeButton::before {
  background: linear-gradient(270deg, #235aa6, #101b3b);
  width: 150px;
  left: -155px;
  transition: ease-in-out .5s;
}
.aboutMeButton:hover::after {
  transform: translate(300%);
}
.aboutMeButton:hover::before {
  transform: translate(270%);
}
.aboutMeButton:hover ~ svg {
  transform: translate(20%);
}

.mainToggleContainer {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, #f06449, #ee2828);
  z-index: 2;
  visibility: hidden;
}

.toggleContainer {
  font-family: "League Spartan", sans-serif;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, #235aa6, #101b3b);
  z-index: 3;
  visibility: hidden;
}
.toggleContainer > .xIcon {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 30px;
  opacity: 0;
}
.toggleContainer > .xIcon::after, .toggleContainer > .xIcon::before {
  position: absolute;
  right: 20px;
  content: "";
  display: inline-block;
  width: 3px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #e3d8d3;
}
.toggleContainer > .xIcon::before {
  transform: rotate(-45deg);
}
.toggleContainer > .burgerNav {
  top: 30%;
  left: 15%;
  width: fit-content;
  opacity: 0;
  list-style: none;
  position: absolute;
}
.toggleContainer > .burgerNav > li {
  font-size: 35px;
  margin-bottom: 33px;
  color: white;
}
.toggleContainer > .contactIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0 20px;
  width: 300px;
  top: 90%;
  left: 15%;
  list-style: none;
  position: absolute;
}
.toggleContainer > .contactIcons > li {
  display: inline;
}
.toggleContainer > .contactIcons > li > svg {
  fill: white;
  width: 30px;
}
.toggleContainer .xIconAppear {
  transform: scale(1.4, 1.4) translateY(0);
  opacity: 1;
  transition-delay: .7s;
  transition-duration: .4s;
}
.toggleContainer .xIconDisappear {
  transform: scale(1.1, 1.1) translateY(30%);
  opacity: 0;
  transition-duration: .4s;
}
.toggleContainer .menuAppear {
  opacity: 1;
  transform: translateY(-5%);
  transition-duration: 0.4s;
  transition-delay: 0.7s;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}
.toggleContainer .menuDisappear {
  opacity: 0;
  transform: translateY(5%);
  transition-duration: 0.4s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}
.toggleContainer .contactMenuAppear {
  opacity: 1;
  transform: translateY(-40%);
  transition-duration: 0.4s;
  transition-delay: 0.7s;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}
.toggleContainer .contactMenuDisappear {
  opacity: 0;
  transform: translateY(40%);
  transition-duration: 0.4s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}

.toogleAnimation {
  visibility: visible;
  transform: translate(100vw);
  transition-duration: 0.4s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}

.toogleAnimation1 {
  visibility: visible;
  transform: translate(100vw);
  transition-duration: 0.5s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}

.unToogleAnimation {
  visibility: visible;
  transform: translate(0);
  transition-duration: 0.5s;
  transition-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}

.unToogleAnimation1 {
  visibility: visible;
  transform: translate(0);
  transition-duration: 0.3s;
  transition-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.694, 0.048, 0.335, 1);
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 0 5% 0 5%;
  }

  .content > h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 650px) {
  nav > .logo {
    height: 55px;
    width: 55px;
  }
  nav > ul {
    display: none;
  }
  nav span {
    display: inline;
  }

  .content > h1 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
