body {
    overflow-x: hidden;
}

body>div {
    margin: -8px 0 0 -8px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(28, 29, 37);
    font-family: 'League Spartan', sans-serif;
    overflow: hidden;
}

body>div>div>div {
    height: 30px;
    width: 30px;
}

.div3>svg {
    height: 20px;
    width: 35px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 11% 0 11%;
    height: 90px;
}

.logo {
    height: 80px;
    width: 80px;
}

ul {
    list-style-type: none;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline;
    color: rgb(176, 178, 195);
    font-size: 20px;
}

li>svg {
    width: 25px;
    height: 25px;
    fill: rgb(176, 178, 195);
    ;
}

@media only screen and (max-width: 800px) {
    nav {
        padding: 0 5% 0 5%;
    }
}

.content {
    position: absolute;
    top: 38%;
    z-index: 1;
    margin: 0 13% 0 13%;
    padding-left: 3%;
}

.content>h1 {
    font-size: 75px;
    color: white;
    margin: 0;
}

.content>p {
    font-size: 20px;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

.backgroundLogo {
    height: 330px;
    width: 330px;
    position: absolute;
    top: 217px;
    right: 50%;
    transform: translate(100%);
}

span {
    display: none;
}

span>div {
    height: 4px;
    background-color: rgb(176, 178, 195);
    margin-bottom: 5px;
}

@media only screen and (max-width: 650px) {
    span {
        display: inline;
    }

    ul {
        display: none;
    }

    .logo {
        height: 55px;
        width: 55px;
    }
}