* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body>div {
    margin: -8px 0 0 -8px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(28, 29, 37);
    font-family: 'League Spartan', sans-serif;
    overflow: hidden;
}

body>div>div>div {
    height: 30px;
    width: 30px;
}

.div3>svg {
    height: 20px;
    width: 35px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 11% 0 11%;
    height: 90px;
}

.logo {
    height: 80px;
    width: 80px;
}

nav>ul {
    list-style-type: none;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li {
    display: inline;
    color: rgb(176, 178, 195);
    font-size: 20px;
    cursor: pointer;
}

nav>ul>li>svg {
    width: 25px;
    height: 25px;
    fill: rgb(176, 178, 195);
    margin-bottom: 5px;
}

nav>ul>li::after, nav>ul>li::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-left: 1%;
    position: relative;
    animation-fill-mode: forwards;
}

nav>ul>li::before {
    background-color: rgb(35, 90, 166);
    position: relative;
    bottom: -21px;
    animation:navUnhover .7s;
    animation-timing-function: cubic-bezier(.694,.048,.335,1);
}

nav>ul>li:last-of-type::before {
    bottom: -32px;
}

nav>ul>li::after {
    background-color: rgb(242, 87, 87);
    animation:navUnhover .3s;
    animation-timing-function: cubic-bezier(.694,.048,.335,1);
}

nav>ul>li:hover::after, nav>ul>li:hover::before {
    animation:navHover .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.694,.048,.335,1);
}

@keyframes navHover {
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}

@keyframes navUnhover {
    0%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        padding: 0 5% 0 5%;
    }
}

.content {
    position: absolute;
    top: 38%;
    z-index: 1;
    margin: 0 13% 0 13%;
    padding-left: 3%;
}

.content>h1 {
    font-size: 75px;
    color: white;
    margin: 0;
}

.content>p {
    font-size: 20px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 45px;
}

.aboutMeButton {
    width: 140px;
    background: linear-gradient(270deg, #f06449, #ef3636);
    height: 45px;
    color: white;
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.content>svg {
    width: 40px;
    fill: white;
    position: relative;
    top: -41px;
    left: 130px;
    transform: translate(0);
    transition: ease-in-out .5s
}

.aboutMeButton::after, .aboutMeButton::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: linear-gradient(270deg, #235aa6, #213777);
    height: 50px;
    width: 110px;
    left: -115px;
    top: 0;
    transform: translate(0);
    transition: ease-in-out .4s
}

.aboutMeButton::before {
    background: linear-gradient(270deg,#235aa6,#101b3b);
    width: 150px;
    left: -155px;
    transition: ease-in-out .5s
}

.aboutMeButton:hover::after {
    transform: translate(300%);
}

.aboutMeButton:hover::before {
    transform: translate(270%);
    
}

.aboutMeButton:hover~svg {
    transform: translate(20%);
}

.backgroundLogo {
    height: 330px;
    width: 330px;
    position: absolute;
    top: 217px;
    right: 50%;
    transform: translate(100%);
}

span {
    display: none;
}

span>div {
    height: 4px;
    background-color: rgb(176, 178, 195);
    margin-bottom: 5px;
}

@media only screen and (max-width: 650px) {
    span {
        display: inline;
    }

    nav>ul {
        display: none;
    }

    .logo {
        height: 55px;
        width: 55px;
    }
}

.mainToggleContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: 2;
    display: none;
}

.toggleContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg, #235aa6, #101b3b);
    z-index: 3;
}

.xIcon {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: rgb(227, 216, 211);
    width: 4px;
    height: 44px;
}

.toggleContainer>ul {
    list-style: none;
    position: absolute;
}

.burgerNav {
    top: 30%;
    left: 15%;
    width: fit-content;
}

.burgerNav>li {
    font-size: 35px;
    margin-bottom: 33px;
    color: white;
}

.contactIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 0 20px;
    width: 300px;
    top: 90%;
    left: 15%;
}

.contactIcons>li {
    display: inline;
}

.contactIcons>li>svg {
    fill: white;
    width: 30px;
}