$grayish: rgb(176, 178, 195);
$blue: rgb(35, 90, 166);
$red: rgb(242, 87, 87);
$font_white: white;
$dark_blue: rgb(28, 29, 37);
$dark_blue_gradient: linear-gradient(270deg, #235aa6, #101b3b);
$light_gray: rgb(227, 216, 211);
$baskerville: var(--font-baskerville);

.footer {
	background-color: #1c1d25;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8% 0;

	>ul{
		width: 450px;
		padding: 0;
		margin: 30px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		>li {
			display: inline;
			font-size: 1.2rem;
			
			>a {
				text-decoration: none;
				color: white;
			}
		}
	}

	>p {
		color: white;
		font-weight: 400;
		font-style: normal;
		font-size: .8em;

		>a {
			color: white;
			font-weight: 400;
			font-style: normal;
			font-size: 1em;
			text-decoration: none;
		}
	}
}