@import '../../variables.scss';

.footer {
	background-color: $dark_blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6% 0;

	>div {
		position: relative;

		span {
			color: white;
			font-size: 18px;
			position: absolute;
			top: 50%;
			opacity: 0;
			transition-duration: .3s;
		}

		&:hover>span {
			opacity: 1;
			transform: translate(60%);
			transition-duration: .3s;
		}
	}

	>ul {
		width: 450px;
		padding: 0;
		margin: 30px 0;

		>li {
			width: 50%;
			font-size: 1.2rem;
			display: inline-flex;
			flex-direction: row;
			justify-content: space-around;

			>a {
				text-decoration: none;
				color: white;
				position: relative;
				overflow: hidden;
				height: 25px;

				&::after,
				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					position: absolute;
					bottom: 0;
					left: 100%;
					background-color: $red;
					transition-duration: .4s;
				}

				&::before {
					background-color: rgb(35, 90, 166);
					transition-delay: .2s;
				}

				&:hover {

					&::after,
					&::before {
						left: -100%;
						transition-property: transform;
						transform: translate(100%);
					}
				}
			}
		}
	}

	>p {
		color: white;
		font-weight: 400;
		font-style: normal;
		font-size: .8em;
		font-family: $baskerville;

		>a {
			font-family: $baskerville;
			color: white;
			font-weight: 400;
			font-style: normal;
			font-size: 1em;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 500px) {
	.footer>ul {
		width: 100%;

		>li {
			width: 100%;
		}
	}

	.footer>ul>li:first-of-type {
		margin-bottom: 30px;
	}
}