@import '../../variables.scss';
$baskerville: var(--font-baskerville);

.projectContainer {
	width: 940px;
	height: 480px;
	background-size: cover;
	background-position: 50%;
	box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .45);
	transition-duration: .3s;
	transition-property: box-shadow;
	position: relative;
	margin-bottom: 140px;

	.projectNumber {
		position: absolute;
		font-size: 15vw;
		opacity: 0;
		z-index: 1;
		overflow: hidden;
		display: inline-block;
		color: royalblue;
		background: linear-gradient(to top, white, white 50%, #99999d 50%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-repeat: no-repeat;
		background-position: 0 0%;
		transform: translateY(0);
		transition-timing-function: $custom_function;
		transition-duration: .4s;
		transition-delay: 0;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 0;
		height: 100%;
		background: linear-gradient(270deg, rgba(35, 90, 166, .9), rgba(3, 6, 14, 0.9));
		position: absolute;
		opacity: .9;
		transition-duration: .4s;
		transition-property: width;
		transition-timing-function: $custom_function;
		z-index: 1;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: inherit;
		height: inherit;
		background-color: rgba(28, 29, 37, 0.6);

	}

	>.revealer {
		width: 100%;
		height: 100%;
		background: $dark_blue_gradient;
		position: absolute;
		z-index: 2;
		right: 0;

		&.show {
			width: 0;
			transition-duration: 1s;
			transition-property: width;
			transition-timing-function: $custom_function;
		}
	}
}

.project {
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 1;
	transition-duration: .4s;

	>.projectName {
		color: white;
		font-size: 3.5em;
		display: inline;
		transition-duration: .3s;
	}

	>p {
		color: white;
		font-family: LibreBaskerville-Regular;
		font-style: italic;
		font-size: 1.4em;
		transition-duration: .3s;
	}
}

@media only screen and (max-width: 1200px) {
	.projectContainer {
		width: 800px;
		height: 450px;
	}
}

@media only screen and (max-width: 1000px) {
	.projectContainer {
		width: 720px;
		height: 450px;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.project {
		top: 50%;

		>.projectName {
			font-size: 3.3em;
		}

		>p {
			font-size: 1.3em;
			margin-top: 10px;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.projectContainer {
		&:hover::before {
			width: 100%;
			transition-duration: .4s;
			transition-timing-function: $custom_function;
		}

		&:hover {
			transition-duration: .3s;
			box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .9);
		}

		&:hover>.project {
			transition-duration: .4s;
			transition-delay: .3s;
			transform: scale(1.1);
		}

		&:hover>.projectNumber {
			opacity: 1;
			transform: translateY(-10%);
			transition-timing-function: $custom_function;
			transition-property: transform opacity;
			transition-duration: .4s;
			animation: projectAnim .4s ease-in-out .3s;
			animation-fill-mode: forwards;
		}
	
		@keyframes projectAnim {
			0% {
				background-position: 0 0;
			}
		
			100% {
				background-position: 0 100%;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.projectContainer {
		height: 350px;
		width: 80vw;
	}
	.project {
		>.projectName {
			font-size: 2.5em;
		}

		>p {
			font-size: 1.2em;
		}
	}
}

@media only screen and (max-width: 700px) {
	.projectContainer {
		height: 350px;
	}

	.project {
		>.projectName {
			font-size: 2.2em;
			bottom: 6.7em;
		}

		>p {
			font-size: 1.1em;
		}
	}
}

@media only screen and (max-width: 660px) {
	.project {
		top: 50%;

		>.projectName {
			font-size: 2em;
			bottom: 6.7em;
		}

		>p {
			font-size: 1em;
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 400px) {
	.projectContainer {
		height: 250px;
		width: 90vw;
	}

	.project {
		>.projectName {
			font-size: 1.6em;
			bottom: 6.7em;
		}

		>p {
			font-size: 1em;
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 350px) {
	.project {
		top: 40%
	}
}