$font_white: white;
$dark_blue_gradient: linear-gradient(270deg, #235aa6, #101b3b);
$red_gradient: linear-gradient(270deg, #f06449, #ef3636);

.button {
	display: inline-block;
	position: relative;

	>button {
		width: 150px;
		background: $red_gradient;
		height: 45px;
		color: $font_white;
		padding: 15px 25px 15px 25px;
		font-size: 20px;
		position: relative;
		overflow: hidden;
		border: none;

		&::after,
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background: linear-gradient(270deg, #235aa6, #213777);
			height: 50px;
			width: 110px;
			left: -115px;
			top: 0;
			transform: translate(0);
			transition: ease-in-out .4s;
		}

		&::before {
			background: $dark_blue_gradient;
			width: 150px;
			left: -155px;
			transition: ease-in-out .5s;
		}

		&:hover {
			&::after {
				transform: translate(300%);
			}

			&::before {
				transform: translate(270%);
			}
		}

		&:hover~svg {
			transform: translate(20%);
		}
	}

	>svg {
		width: 40px;
		fill: white;
		position: absolute;
		top: 8%;
		right: -15%;
		transform: translate(0);
		transition: ease-in-out .5s;
	}
}