$grayish: rgb(176, 178, 195);
$blue: rgb(35, 90, 166);
$red: rgb(242, 87, 87);
$spartan: var(--font-spartan);

@keyframes navHover {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

@keyframes navUnhover {
	0% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

* {
	box-sizing: border-box;
	font-family: $spartan;
}

body{
	margin: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 11% 0 11%;
	height: 90px;
	background-color: #1c1d25;

	>span {
		display: none;

		>div {
			height: 4px;
			background-color: $grayish;
			margin-bottom: 5px;
		}
	}

	>.logo {
		height: 80px;
		width: 80px;
	}
}

nav>ul {
	width: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	>li {
		display: inline;
		color: $grayish;
		font-size: 20px;
		cursor: pointer;

		>svg {
			width: 25px;
			fill: $grayish;
			margin-bottom: 5px;
		}

		&::after,
		&::before {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			margin-left: 1%;
			position: relative;
			animation-fill-mode: forwards;
			background-color: $red;
			animation: navUnhover .3s;
			animation-timing-function: cubic-bezier(.694, .048, .335, 1);
		}

		&::before {
			background-color: $blue;
			bottom: -21px;
			animation: navUnhover .7s;
		}

		&:last-of-type {
			&::before {
				bottom: -37px;
			}
		}

		&:hover {

			&::after,
			&::before {
				animation: navHover .3s;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(.694, .048, .335, 1);
			}
		}
	}
}




@media only screen and (max-width: 800px) {
	nav {
		padding: 0 5% 0 5%;
	}
}

@media only screen and (max-width: 660px) {
	nav {
		>.logo {
			height: 55px;
			width: 55px;
		}

		>ul {
			display: none;
		}

		span {
			display: inline;
		}
	}
}