$font_white: white;
$baskerville: var(--font-baskerville);
$dark_blue: rgb(28, 29, 37);

.main {
	overflow-x: hidden;

	>.mainPage {
		margin: -8px 0 0 -8px;
		width: 100vw;
		height: 100vh;
		background-color: $dark_blue;
		overflow: hidden;

		.content {
			position: absolute;
			top: 38%;
			z-index: 1;
			margin: 0 13% 0 13%;
			padding-left: 3%;

			>h1 {
				font-size: 75px;

				color: $font_white;
				margin: 0;
			}

			>p {
				font-size: 20px;
				color: $font_white;
				font-family: $baskerville;
				margin-bottom: 45px;
			}
		}

		.backgroundLogo {
			height: 330px;
			width: 330px;
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);
		}

		>.rightDiv,
		.leftDiv {
			>.div3 {
				width: 40px;
			}

			>div {
				width: 30px;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.content {
		>h1 {
			font-size: 60px;
		}
	}
}

@media only screen and (max-width: 660px) {
	.content {
		>h1 {
			font-size: 50px;
		}
	}

	.main>.mainPage {
		>.backgroundLogo {
			width: 50vw;
			height: 50vw;
		}
	}
}