$font_white: white;
$baskerville: var(--font-baskerville);

.main {
	overflow-x: hidden;
	margin-bottom: 70px;

	>.backgroundLogo {
		height: 330px;
		width: 330px;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		z-index: 0;
	}

	>.mainPage {
		width: 100vw;
		height: calc(100vh - 90px);
		position: relative;
		overflow: hidden;

		>.content {
			position: absolute;
			top: 28%;
			margin: 0 13% 0 13%;
			padding-left: 3%;

			>{
				
			}

			>h1 {
				font-size: 75px;
				color: $font_white;
				margin: 0;
				position: relative;
				overflow: hidden;

				&::before{
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100px;
					background-color: white;
					animation: reveal;
					animation-duration: 1s;
					animation-timing-function: ease;
					animation-delay: .5s;
					animation-fill-mode: forwards;
				}

				@keyframes reveal {
					0%{
						transform: translate(0);
					}

					100%{
						transform: translate(105%);
					}
				}
			}

			>p {
				font-size: 18px;
				color: $font_white;
				font-family: $baskerville;
				margin-bottom: 45px;
				font-style: italic;
				position: relative;
				overflow: hidden;
				width: fit-content;

				&::before{
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100px;
					background-color: white;
					animation: reveal;
					animation-duration: 1s;
					animation-timing-function: ease;
					animation-delay: .5s;
					animation-fill-mode: forwards;
				}

				@keyframes reveal {
					0%{
						transform: translate(0);
					}

					100%{
						transform: translate(105%);
					}
				}
			}

			.buttonContainer {
				width: 30%;
				position: relative;
				overflow: hidden;

				&::before{
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
					bottom: 0;
					width: 100%;
					height: 100px;
					background-color: white;
					animation: reveal;
					animation-duration: 1s;
					animation-timing-function: ease;
					animation-delay: .5s;
					animation-fill-mode: forwards;
				}

				@keyframes reveal {
					0%{
						transform: translate(0);
					}

					100%{
						transform: translate(105%);
					}
				}
			}
		}



		>.rightDiv,
		.leftDiv {
			>.div3 {
				width: 40px;
			}

			>div {
				width: 30px;
			}
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	>h6 {
		margin-top: 0;
		margin-bottom: 25px;
		color: #b19386;
		font-size: .9em;
		font-family: $baskerville;
	}

	>h4 {
		margin-top: 0;
		color: #4a4a4a;
		font-size: 2.7em;
	}
}

@media only screen and (max-width: 900px) {
	.container {
		>h4 {
			font-size: 1.8em;
			margin-bottom: 80px;
		}

		>.projectContainer {
			width: 85vw;
			height: 420px;
		}
	}
}

@media only screen and (max-width: 800px) {
	.main>.mainPage>.content {
		>h1 {
			font-size: 60px;
		}
	}
}

@media only screen and (max-width: 660px) {
	.main>.mainPage>.content {
		>h1 {
			font-size: 50px;
		}
	}

	.main>.backgroundLogo {
		width: 50vw;
		height: 50vw;
	}
}

@media only screen and (max-width: 400px) {
	.main>.mainPage>.content {
		>h1 {
			font-size: 15vw;
		}
	}
}