$spartan: var(--font-spartan);
$baskerville: var(--font-baskerville);

$red: rgb(242, 87, 87);
$dark_blue: #1c1d25;
$light_gray: rgb(227, 216, 211);
$grayish: rgb(176, 178, 195);

$dark_blue_gradient: linear-gradient(270deg, #235aa6, #101b3b);

$custom_function: cubic-bezier(.694, .048, .335, 1);