$spartan: var(--font-spartan);
$baskerville: var(--font-baskerville);
$dark_blue_gradient: linear-gradient(270deg, #235aa6, #101b3b);
$dark_blue: #1c1d25;
$custom_function: cubic-bezier(.694, .048, .335, 1);
$red: rgb(242, 87, 87);
$light_gray: rgb(227, 216, 211);