$grayish: rgb(176, 178, 195);

.contactIcons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0 0 0 20px;
	height: 250px;
	width: fit-content;
	top: 30%;
	right: 1%;
	list-style: none;
	position: absolute;

	>li {
		display: inline;

		a>svg {
			fill: $grayish;
			width: 25px;
		}
	}
}

@mixin menuAnim($opacity, $delay, $duration, $translate) {
	opacity: $opacity;
	transform: translateY($translate);
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: cubic-bezier(.694, .048, .335, 1);
}

@media only screen and (max-width: 660px) {
	.contactIcons {
		flex-direction: row;
		width: 300px;
		top: 90%;
		left: 15%;
		display: none;
		@include menuAnim(0, 0, .4s, 40%);
	
		>li>a>svg {
			fill: white;
			width: 30px;
		}
	}
	
}

