$dark_blue: rgb(28, 29, 37);

.div {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	background-color: $dark_blue;

	>div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	svg {
		width: 30px;
		position: relative;
	}

	>.rightDiv {
		svg:nth-of-type(1) {
			top: 67vh;
			left: 94vw;
			transform: rotate(180deg);
		}

		svg:nth-of-type(1) > path {
			stroke: yellow;
		}

		svg:nth-of-type(2) {
			top: 19vh;
			left: 33vw;
			transform: rotate(180deg);
		}

		svg:nth-of-type(2) > path {
			stroke: yellow;
		}

		svg:nth-of-type(3) {
			top: 79vh;
			left: 7vw;
			transform: rotate(-130deg);
		}

		svg:nth-of-type(3) > path {
			stroke: aqua;
		}

		svg:nth-of-type(4) {
			top: 19vh;
			left: 69vw;
		}

		svg:nth-of-type(4) > path {
			stroke: #f06449;
		}

		svg:nth-of-type(5) {
			top: 2vh;
			left: 86vw;
		}

		svg:nth-of-type(5) > path {
			stroke: aqua;
		}

		>.stick {
			height: 30px;
			width: 5px;
			background-color: aqua;
			transform: rotate(20deg);
			position: relative;
			left: 26vw;
			top: -3vh;
		}
	}

	>.leftDiv {
		svg:nth-of-type(1) {
			top: 21vh;
			left: 93vw;
			transform: rotate(45deg);
		}

		svg:nth-of-type(1) > path {
			stroke: aqua;
		}

		svg:nth-of-type(2) {
			top: 94vh;
			left: 41vw;
			width: 40px;
			transform: rotate(95deg);
		}

		svg:nth-of-type(2) > path {
			stroke: #f06449;
		}

		svg:nth-of-type(3) {
			top: 19vh;
			left: 0vw;
			width: 40px;
			transform: rotate(140deg);
		}

		svg:nth-of-type(3) > path {
			stroke: #f06449;
		}

		>.stick1 {
			height: 30px;
			width: 5px;
			background-color: aqua;
			transform: rotate(130deg);
			position: relative;
			top: 90vh;
			left: 80vw;
		}

		>.stick2 {
			height: 30px;
			width: 5px;
			background-color: yellow;
			transform: rotate(40deg);
			position: relative;
			top: 86vh;
			left: 5vw;
		}
	}
}