@import '../../../variables.scss';
$grayish: hsla(0, 0%, 95%, .97);

.form {
    overflow: hidden;
    width: 50%;
    color: $grayish;
    padding: 80px;
    background-color: rgba(28, 29, 37, .985);
    position: relative;
    top: 100%;
    transition-property: top, transform;
    transition-duration: .45s;
    transition-timing-function: $custom_function;

    >h1 {
        font-size: 240px;
        color: #fff;
        opacity: .03;
        position: absolute;
        margin: 0;
        right: -50%;
        bottom: 4%;
    }

    &::before,
    &::after,
    >.appreciationText {
        content: "";
        display: inline-block;
        background-color: $red;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%);
        transition-property: transform;
        transition-duration: .45s;
        transition-timing-function: $custom_function;
    }

    >.appreciationText,
    >.appreciationText::after {
        background-color: #61dafb;
        margin: 0;
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: .45s;
        transition-delay: 0;
        z-index: 1;
    }

    >.appreciationText::after {
        content: "Thank You! Your message has been sent.";
        display: inline-block;
        position: absolute;
        font-size: 30px;
        width: 333px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
    }

    &[animation="true"]>.appreciationText {
        transform: translate(0);
        transition-delay: .6s;
        opacity: 1;
    }

    &[animation="true"]>.appreciationText::after {
        transform: translate(-50%, -50%);
        transition-delay: 1s;
        opacity: 1;
    }

    &::after {
        background-color: green;
    }

    &[animation="true"]::after {
        transform: translate(0);
        transition-delay: .15s;
    }

    &[animation="true"]::before {
        transform: translate(0);
    }

    >.xIcon {
        position: absolute;
        top: 70px;
        right: 72px;
        width: 40px;
        height: 30px;
        transform: scale(1.1, 1.1) translateY(30%);

        >span {
            overflow: hidden;
            position: absolute;
            right: 20px;
            content: "";
            display: inline-block;
            width: 3px;
            height: 30px;
            transform: rotate(45deg);
            background-color: $light_gray;
            transition-property: transform;
            transition-duration: .4s;
            transition-timing-function: $custom_function;
        }

        >.stick2 {
            transform: rotate(-45deg);
        }

        &:hover>.stick1 {
            transform: rotate(135deg);
        }

        &:hover>.stick2 {
            transform: rotate(-135deg);
        }

        &:hover>span {
            background-color: white;
        }

        >.stick1::before,
        .stick2::before {
            position: absolute;
            content: "";
            display: inline-block;
            background-color: #f3f3f3;
            height: 100%;
            width: 100%;
            transition-property: transform;
            transition-duration: .4s;
            bottom: -100%;
            z-index: 6;
        }

        >.stick2::before {
            top: -100%;
        }

        &:hover>.stick1::before {
            background-color: $red;
            transition-property: transform;
            transform: translateY(-200%);
        }

        &:hover>.stick2::before {
            background-color: $red;
            transition-property: transform;
            transform: translateY(200%);
        }

    }

    >p {
        font-family: $baskerville;
    }

    >p:nth-of-type(2) {
        font-size: 12px;
    }

    >label {
        display: inline-block;
        margin-top: 20px;
    }

    >.input {
        position: relative;

        >input,
        >textarea {
            display: block;
            background-color: transparent;
            border-left: none;
            border-right: none;
            border-top: none;
            margin: 0;
            width: 100%;
            outline: none;
            border-bottom: 1px solid silver;
            caret-color: silver;
            color: silver;
            font-size: 90%;
            font-family: $baskerville;
        }

        >input {
            height: 40px;
        }

        >textarea {
            margin-bottom: 40px;
            margin-top: 10px;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            width: 0;
            transition-property: width;
            transition-duration: .3s;
            transition-timing-function: $custom_function;
        }

        &::before {
            height: 1px;
            background-color: $red;
        }

        &::after {
            background-color: #26408b;
            ;
            height: 2.5px;
            bottom: -0.8px;
        }

        &:hover::before {
            width: 100%;

            transition-duration: .45s;
        }

        &:hover::after {
            transition-delay: .1s;
            width: 100%;
            transition-duration: .45s;
        }
    }
}

.anim {
    transform: translateY(-100%);
    transition-delay: .2s;
}

@media only screen and (max-width: 850px) {
    .form {
        padding: 10%;
        position: static;
        width: 100%;
        transform: translate(100%);

        >h1 {
            right: -40%;
        }

        >.xIcon {
            top: 10vw;
            right: 10%;
        }
    }

    .anim {
        transform: translateY(0);
        transition-delay: .45s;
    }
}