@import '../../variables.scss';

.anim {
	box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .45);
	transition-duration: .45s;
}

.contact {
	overflow: hidden;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 690px;
	width: 1200px;
	box-shadow: 0;
	transition-duration: .2s;
	transition-property: box-shadow;
	transition-timing-function: $custom_function;

	>div {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		position: relative;
	}
}

@media only screen and (max-width: 1200px) {
	.contact {
		width: 90vw
	}
}

@media only screen and (max-width: 1000px) {
	.contact {
		width: 95vw
	}
}

@media only screen and (max-width: 850px) {
	.contact {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0);
		height: 100vh;
		width: 100vw;
		overflow-y: scroll;
		overflow-x: hidden;

		>div {
			display: block;
		}
	}
}